@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none !important;
   list-style: none;
   color: white !important;
}




/* BODY */
body {
   color: rgb(255, 255, 255);
   font-family: 'Noto Sans TC', sans-serif;
   font-weight: bold;
   font-size: 3vh;
   font-weight: 400;
   letter-spacing: 0px;
   word-spacing: 0px;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: small-caps;
   text-transform: none;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   text-align: left;
   background-attachment: fixed;
   overflow-y: 50px;
}

.index {
   background-image: url(../img/preview.jpg);
}

.hardware {
   background-image: url(../img/hardware.jpg);
}

.software {
   background-image: url(../img/software\ \(2\).jpg);
}

.armado {
   background-image: url(../img/armado.jpg);
}

.contactofondo {
   background-image: url(../img/armado.jpg);
}


/* HEADER */

.head {
   background: -webkit-linear-gradient(bottom, black 90%, rgb(56, 56, 56));
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
}

.head1 {
   display: flex;
   padding-left: 20px;
}

.head2 li {
   padding: 30px 40px 30px 40px;
   display: inline-block;
}

.head3 input {
   color: black !important;
   border: 2px black solid;
   padding: 10px;
   border-radius: 20px;
   width: 290px;
   font-size: 15px;
}

.head4 {
   display: flex;
}

.head4 a img {
   height: 45px;
   width: 45px;
   margin-right: 25px;
}

.head4 div li a {
   color: black !important;
}

.head4 div li {
   color: black !important;
   text-align: center;
}

.DropdownBurguer {
   display: none;
}

/*QUERIES Head*/

@media screen and (max-width:1190px) {

   .head .logo {
      width: 150px;
      height: 55px;
   }

   .head input {
      width: 190px;
   }

   .head li a {
      font-size: 15px;
   }

   .head a img {
      width: 35px;
      height: 35px;
   }
}

@media screen and (max-width:1035px) {
   .head input {
      width: 170px;
   }

   .head .logo {
      width: 100px;
      height: 60px;
   }
}

@media screen and (max-width:995px) {

   .head input {
      width: 130px;
   }

   .head li a {
      font-size: 12px;
   }

   .head .perf {
      display: none;
   }
}

@media screen and (max-width:920px) {
   .head input {
      display: none;
   }

   .head li a {
      font-size: 12px;
   }
}

@media screen and (max-width:762px) {

   .head li img {
   width: 25px;
   height: 25px;
   }
   .h3section{margin-top: 250px;}
}

@media screen and (max-width:675px) {
   .head {
      justify-content: space-between;
   }

   .DropdownCarrito {
      display: none;
   }

   .DropdownBurguer {
      display: inline-block;
   }

   .head .navlist {
      display: none;
   }

   .head .section1head {
      padding-top: 15px;
   }

   .head .logo {
      margin-left: 10px;
      margin-bottom: 10px;
   }
}


/* MAIN */

.contacto form {
   text-align: center;
   border: solid black;
   background-color: rgba(26, 26, 26, 0.92);
   box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   -webkit-box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   -moz-box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   height: 90vh;
}


/** SECTION Hardware **/
.h3section {
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 25px;
   background-color: black;
   border-top: 6px rgb(221, 214, 7) solid;
   border-bottom: 6px rgb(221, 214, 7) solid;
   text-align: center;
}
.h4section {
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 25px;
   background-color: black;
   border-top: 6px rgb(221, 214, 7) solid;
   border-bottom: 6px rgb(221, 214, 7) solid;
   text-align: center;
   margin-top: 150px;
}

.section3 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgba(31, 32, 35, 0.97);
   border: solid rgba(110, 107, 4, 0.78);
}


.section3 div {
   border: 2px rgb(0, 0, 0) solid;
   border-radius: 8px;
   margin: 20px;
   width: 15rem;
   height: 24rem;
   padding: 10px;
   text-align: center;
   font-size: 20px;
   background-image: url(../img/fondoproductos.jpeg);
   background-position: center;
   background-size: cover;
   box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   -webkit-box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   -moz-box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
}

.section3 div:hover {
   transform: scale(1.07);
   transition: 300ms;
   object-fit: cover;
}

.section3 div img {
   height: 200px;
   width: 200px;
   margin-bottom: 15px;
   border: 2px rgb(168, 159, 30) solid;
   border-radius: 8px;
}

.section3 div h3 {
   border: 2px rgb(168, 159, 30) double;
   margin-top: 15px;
   margin-bottom: 20px;
   padding: 6px;
   border-radius: 10px;
}

.section3 div a {
   padding: 8px;
   border-radius: 10px;
   border: 2px rgb(168, 159, 30) solid;
}



@media screen and (max-width:1020px) {
   .section3 {
      flex-wrap: wrap;
   }
}

@media screen and (max-width:840px) {
   .div4-3 {
      display: block;
   }
}

@media screen and (max-width:580px) {
   .div4-3 {
      display: block;
   }
}





.hero {
   width: 100%;
   padding-bottom: 50vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   text-align: left;
   background-attachment: fixed;
   display: flex;
}



.hero div {
   height: 40%;
   width: 60%;
   display: flex;
   flex-flow: column wrap;
   margin: 3%;
   border: none;
   background-color: rgba(26, 26, 26, 0.92);
   border-radius: 3%;
   margin-top: 3%;
}

.hero div p {
   font-size: 5vh;
   display: inline-block;
   padding: 15px;
   margin-bottom: 20px;
   text-align: left;
}

.hero div h2 {
   text-align: left;
   font-size: 90%;
   margin-left: 2.5%;
   font-family: 'Noto Sans TC', sans-serif;
   font-weight: bold;
   letter-spacing: 0px;
   word-spacing: 0px;
   color: white;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: small-caps;
   text-transform: none;
   margin-bottom: 20px;
   margin-top: 1%;
}

.hero div a {
   font-size: 90%;
   margin: 2, 0, 0, 1;
}

.boton {
   text-decoration: underline;
   color: white;
   border-radius: 70px;
   border-radius: 70px;
   padding: 25px;
   font-size: 20px;
}



.video h2 {
   margin-bottom: 4vh;
   text-decoration: underline rgb(90, 70, 3);
   text-align: center;
   margin-top: 50px;
}

.video h2 span {
   background-color: rgba(39, 39, 39, 0.9);
}

.video div iframe {
   box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   -webkit-box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   -moz-box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   height: 50vh;
   width: 60%;
}

.fotoUsuario {
   border: solid rgba(110, 107, 4, 0.78);
   margin-top: 5vh;
   background-color: rgba(31, 32, 35, 0.97);
}

.fotoUsuario h2 {
   text-align: center;
   text-decoration: underline;
   font-size: 5vh;
   margin-top: 1%;
   margin-bottom: 1%;
}

.fotoUsuario div {
   height: 45vh;
   width: 40vh;
   display: inline-block;
   border: none;
   background-color: rgba(14, 14, 14, 0.99);
   box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   -webkit-box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   -moz-box-shadow: -1px 5px 42px 14px rgba(110, 107, 4, 0.78);
   border-radius: 3%;
   margin-top: 2%;
   margin-left: 17vh;
   margin-bottom: 2.5%;
}

.fotoUsuario div img {
   height: 15vh;
   width: 15vh;
   margin-left: 5%;
   margin-top: 5%;
   margin-bottom: 6%;
   display: inline-block;
}

.fotoUsuario div table {
   display: inline-block;
   position: absolute;
   font-size: 2vh;
   table-layout: fixed;
   width: 250px;
}

.fotoUsuariothth th,
td {
   width: 100px;
   word-wrap: break-word;
}

.fotoUsuario div p {
   font-size: 2.5vh;
   margin: 5%;
   margin-top: 0;
   display: block;
}


.btn-wpp {
   position: fixed;
   bottom: 1vh;
   right: 2vh;
}

.btn-wpp img {
   width: 8vh;
}

.video {
   text-align: center;
}

.contacto {
   margin-top: 15vh;
   display: flex;
   justify-content: center;
}

.contacto form {
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   height: 50vh;
   width: 30%;
}
/*Media Quary INDEX*/
@media screen and (max-width:1020px) {

}

@media screen and (max-width:840px) {

}

@media screen and (max-width:580px) {

}
.altomain {
   height: 75vh;
}

/* FOOTER */
footer {
   background-color: black;
   display: block;
   width: 100%;
   margin-top: 30px;
}


footer div a img {
   background-color: rgba(26, 26, 26, 0.92);
   margin: 20px;
   height: 100px;
   border: 1px solid #000000;
   border-radius: 70px;
   border-radius: 70px;
   padding: 10px;
}

footer section {
   display: inline-block;
}

footer div a img {
   width: 5vh;
   height: 5vh;
}