@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    color: white !important;
}

.index {
    background-image: url(../img/preview.jpg);
}

.hardware {
    background-image: url(../img/hardware.jpg);
}

.software{
    background-image: url(../img/software.jpg);
}

.armado {
    background-image: url(../img/armado.jpg);
}

.contactofondo {
    background-image: url(../img/armado.jpg);
}



