$black: black;
$yellow: rgb(221, 214, 7);
$gold: rgb(168, 159, 30);
$darkGray: rgba(26, 26, 26, 0.92);
$lightGray: rgba(39, 39, 39, 0.9);
$shadowColor: rgba(110, 107, 4, 0.78);

// Variables
$logoWidthLarge: 180px;
$logoHeightLarge: 70px;
$logoWidthSmall: 100px;
$logoHeightSmall: 60px;

$navFontSizeLarge: 20px;
$navFontSizeMedium: 15px;
$navFontSizeSmall: 12px;

$dropdownFontSizeLarge: 20px;
$dropdownFontSizeMedium: 15px;
$dropdownFontSizeSmall: 12px;

$buttonWppWidthLarge: 6vh;
$buttonWppWidthMedium: 6vh;
$buttonWppWidthSmall: 3vh;

$videoHeightLarge: 35vh;
$videoHeightMedium: 35vh;
$videoHeightSmall: 18vh;


/* EXTEND */

%flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


// Mixins
@mixin media-query($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin flex ($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

.form1 {
    @include flex (flex, center, center)
}

@mixin textcenter ($center) {
    text-align: $center;
}

.divmicuenta label,
.divmicuenta a {
    @include textcenter(center)
}

@mixin backgroundset ($center, $cover, $norepeat, $fixed) {
    background-position: $center;
    background-size: $cover;
    background-repeat: $norepeat;
    background-attachment: $fixed;
}

section form .divmicuenta div {
    @include backgroundset(center, cover, none, none)
}

#Robot {
    position: center;
    animation: rebota 1s alternate infinite ease-out;
}

@-webkit-keyframes rebota {
    0% {
        top: 600px;
        top: calc(100vh - 10px);
        height: 0px;
    }

    100% {
        top: 200px;
        top: calc(100vh - 200px);
    }
}